<section data-ng-controller="HomeController">
    <div class="background">
        <div class="title full_page">
            <h1 >Trabel</h1>
            <h3 > Collaborative Planning Tool</h3>
            <br>
            <p> As travel enthusiasts, we decided to create a trip planning tool that we would enjoy using, without the flaws of the existing ones. We               would like not only to plan our own trips but also join other people's trips and plan them with all the trip-mates: cooperatively and in                 real-time. <br><br>   
            Our Team: <br>
            João Almeida - ei10099@fe.up.pt <br>
            João Faria - ei11103@fe.up.pt <br>
            Michal Humaj - up201401982@fe.up.pt <br>
            Nuno Cruz - ei10082@fe.up.pt <br>
            Vasco Gonçalves - ei10054@fe.up.pt (Scrum Master) <br>
            Tiago Vila Verde - ei09144@fe.up.pt (Product Owner) <br>
            </p>
            
            <h4> Vision </h4>
            <p>A trip planning platform where people can collaborate in real-time to create, share and explore travel itineraries, destinations and                points of interest. </p>
        </div>
</section>
