<section data-ng-controller="TripsController" data-ng-init="findOne()">
  <p class="loadBar" ng-show="isLoading">
    <em>Loading...</em>
  </p>
  <div class="page-header">
    <h1 class="editable" onhide="isLoading=false" onbeforesave="isLoading=true" onaftersave="trip.$update()" editable-text="trip.name">{{trip.name}}</h1>
    <div class="privacyToggle" ng-switch on="trip.privacy" ng-click="togglePrivacy()" ng-class="{disabled: inputsDisabled}">
      <p ng-switch-when="1" class="text-muted">Public Trip</p>
      <p ng-switch-when="0" class="text-muted">Private Trip</p>
    </div>
  </div>
  <script type="text/ng-template" id="searchbox.tpl.html">
    <div class="form-group">
      <input class="form-control searchbox" type="text" placeholder="Search Box">
    </div>
  </script>
  <div class="trip-container">
    <div class="col-md-3 markers-list">
      <h2 ng-show="trip.markers.length===0" class="marker-placeholder text-muted">No markers yet</h2>
      <div ui-sortable ng-model="trip.markers">
        <div class="markeritem" ng-repeat="marker in trip.markers">
          <a href ng-click="centerMap($index)">
            <span>{{marker.place_name}}</span>
          </a>
          <a href ng-click="deleteMarker($index)" ng-class="{disabled: inputsDisabled}">
            <span class="markerdelete glyphicon glyphicon-remove"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" control="map.object">
        <ui-gmap-search-box template="searchbox.template" position="searchbox.position" events="searchbox.events"/>
        <ui-gmap-markers models="trip.markers" coords="'location'" />
      </ui-gmap-google-map>
    </div>
  </div>
</section>
