<section data-ng-controller="TripsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="trip.name"></h1>
		<div ng-switch on="trip.privacy">
			<p ng-switch-when="1" class="text-muted">Public Trip</p>
			<p ng-switch-when="0" class="text-muted">Private Trip</p>
		</div>
	</div>
	<div class="page-content">
		<ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" control="map.object">
			<ui-gmap-markers models="trip.markers" idkey="'place_id'" coords="'location'" />
		</ui-gmap-google-map>
		<p style="text-align:right;margin-top:5px;font-size:24px;">
			<a href ng-click="resetMap()">
				<span class="glyphicon glyphicon-repeat"></span>
			</a>
		</p>
	</div>

	<!--
	http://lukasz-zak.github.io/disqus-here/
	-->
	<disqus-here shortname="ldsotrabel"
             identifier="{{tripID}}">
	</disqus-here>

	<div
	  class="fb-like"
	  data-share="true"
	  data-width="450"
	  data-show-faces="true">
	</div>

	<div class="pull-right" data-ng-show="hasPermission()">
		<a class="btn btn-primary" data-ng-click="leaveTrip();" data-ng-show="isTripMember()">
			<i class="glyphicon glyphicon-remove"></i>
		</a>
		<a class="btn btn-primary" href="/#!/trips/{{trip._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div class="pull-right" data-ng-hide="hasPermission()">
		<a class="btn btn-primary" data-ng-click="requestToJoin();">
			<i class="glyphicon glyphicon-upload"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="trip.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="trip.user.displayName"></span>
		</em>
	</small>
</section>
